/* Common **********************************************************************/ 
html,body {width:100%; }
html {overflow-y:scroll; box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}
*{
-webkit-text-size-adjust:none;
-webkit-text-size-adjust - auto | none | N% (default auto)
}
body {word-break:break-all;-ms-word-break:break-all; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0;}
fieldset,img {border:0px none; vertical-align:top;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
button {border:0 none; background-color:transparent; cursor:pointer;}
body { background:#fff;}
body,th,td,input,select,textarea,button {font-size:15px; line-height:1.7; font-family:'Poppins', 'Noto Sans KR'; color:#666;} 
input, select, textarea, button{vertical-align:middle; }
a:link,a:active,a:visited{text-decoration:none; border:0px;}
a:hover,a:focus{text-decoration:none}

table {border-collapse:collapse; border-spacing:0;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
summary, caption, legend, hr {width:0; height:0; font-size: ; line-height: ; overflow: hidden; visibility: hidden; border: none; position:absolute; left:-1000em;}
caption {position:static;}
/* label hidden 처리 */
.invisible, .hide{overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute;}
label.invisible{*position:Absolute;}

/* common */
.clfix:after {content: "."; display: block; height:0px; clear: both; visibility: hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* Hides from IE-mac */
.clfix {zoom:1;} /*for IE 5.5-7*/

.list {border-top:2px solid #1c1815; border-bottom:1px solid #1c1815;}


/*=== main ===*/
#wrap {position: relative; width:100%; max-width:1920px; margin: 0 auto; overflow:hidden;}
.inner {width:100%; padding: 0 10%;}
.inner.sub_inner {padding: 0 5%;}

#header {position:fixed; width:100%; height: 80px; z-index:100; transition:.3s ease-in-out;}
#header .inner {position: relative; height: 100%;}
h1 {position: absolute; top:50%; left:10%; transform:translateY(-50%);}
h1 a {display:block; font-size:57px; color:#fff; line-height: 1; transition:.3s ease-in-out;}

nav {position:absolute; top:0; right: 10%; height: 100%;}
nav ul {height: 100%; text-align: center;}
nav ul li {float: left; height: 100%; margin-left: 50px;}
nav ul li a {display: table-cell; width: 100%; height: 80px; font-size: 17px; color: #fff; vertical-align: middle;}
nav ul li a em {display: inline-block; height: 16px; overflow: hidden;}
nav ul li a span {display: block; font-size: 17px; color: #fff; line-height: 1; transform: translateY(0px); transition:.3s ease-in-out; font-weight: 400;}
nav ul li:hover a span {transform: translateY(-16px);}
nav ul li.on a span {transform: translateY(-16px);}
nav ul li.active a span {transform: translateY(-16px);}

#header.on {background: #fff; box-shadow: 3px 3px 7px rgba(0,0,0,.15);}
#header.on h1 a {color:#333;}
#header.on nav li a span {color:#333;}

.navi_btn {display:none;}
.navi {display:none;}

#visual_wrap {position: relative; width:100%; height: 100vh; background: url(../images/main/main_bg.jpg) center no-repeat; background-size:cover; background-attachment: fixed;}
.visual_txt {position: absolute; top:40%; left:0; width:100%; text-align:center;}
.input_txt {font-size:30px; color:#fff; font-weight: 400; line-height: 1;}
.input_txt span {border-right: .05em solid; animation: caret 1s steps(1) infinite; margin-left: 10px;}
@keyframes caret {50% {border-color: transparent;}}
#visual_wrap em {display:block; font-size:20px; color:#fff; font-weight: 300; margin-top: 50px;}

.scroll {position:absolute; bottom: 30px; left:50%; text-align: center; animation: scroll 2s ease-in-out infinite;}
.scroll a {display:block;}
.scroll span {display:block; font-size:13px; color:#fff; line-height: 1; margin-bottom: 10px;}
.scroll img {width:25px;}

@keyframes scroll {
    0% {transform:translate(-50%, 0);}
    50% {transform:translate(-50%, 15px);}
    100% {transform:translate(-50%, 0);}
}

#contents {position: relative; background: #ededee; padding-bottom: 100px;}
.section {padding-top: 100px; text-align: center;}

.sec_tit {position: relative; display:inline-block; font-size:40px; color:#333; line-height: 1; font-weight: 700; text-align: center; z-index:10; margin-bottom: 100px;}
.sec_tit:before {content:''; position:absolute; bottom:-2px; left:50%; transform:translateX(-50%); width:110%; height: 15px; background: #fff; z-index: -1; transition:.3s ease-in-out;}

#section1 .sec_con {display:table; width:100%;}
#section1 .img_wrap {display:table-cell; width:50%; text-align: center;}
#section1 .img_wrap img {width:auto; max-width:100%; box-shadow: 0 0 15px rgba(0,0,0,.5);}

#section1 .txt_wrap {display:table-cell; vertical-align: middle; width:50%; text-align: left; padding-top: 10px;}
#section1 .txt_wrap .tab_tit {display:inline-block; font-size:0; border-top-left-radius: 7px; border-top-right-radius: 7px; overflow:hidden; background: #fff;}
#section1 .txt_wrap .tab_tit h3 {display:inline-block; font-size:23px; color:#fff; background: #777; line-height: 25px; cursor:pointer; padding: 5px 20px 0;}
#section1 .txt_wrap .tab_tit h3.active {background: #fff; color:#222;}

#section1 .txt_wrap .tab {background: #fff; border-radius:7px; border-top-left-radius: 0; padding: 20px; min-height:250px;}
#section1 .txt_wrap .tab em {display:block; font-size:20px; color:#265aa8; line-height: 1; font-weight: 400; padding-left: 15px; border-left:3px solid #265aa8; margin-bottom: 30px;}

#section1 .txt_wrap .tab1 {width:90%;}
#section1 .txt_wrap .tab1 li {position:relative; padding-left: 75px; margin-bottom: 20px;}
#section1 .txt_wrap .tab1 li:last-child {margin-bottom: 0;}
#section1 .txt_wrap .tab1 li:before {content:''; position: absolute; top:9px; left:0; width:5px; height: 5px; background: #666; border-radius:50%;}
#section1 .txt_wrap .tab1 li span {position: absolute; top:0; left:12px;}
#section1 .txt_wrap .tab1 li a {color:#666;}

#section1 .txt_wrap .tab2 li {padding-left: 20px; border-left:3px solid #666; margin-bottom: 10px;}
#section1 .txt_wrap .tab2 li.up {border-color:#83493F;}
#section1 .txt_wrap .tab2 li:last-child {margin-bottom: 0;}
#section1 .txt_wrap .tab2 span {position:relative; display:block; font-size:17px; cursor:pointer; transition:.3s ease-in-out;}
#section1 .txt_wrap .tab2 span img {position: absolute; top:10px; right: 20px; width:15px; transition:.3s ease-in-out;}
#section1 .txt_wrap .tab2 .txt {display:none; font-size:15px;}
#section1 .txt_wrap .tab2 li.up span {color:#83493F;}
#section1 .txt_wrap .tab2 li.up span img {transform: rotate(180deg);}

.sec2_slider_wrap {position: relative;}
.sec2_slider_wrap:before {content: ''; position: absolute; top: 0; left: -10%; width: 30%; height: 100%; background: linear-gradient(to left, rgba(237,237,238,0) 0%,rgba(237,237,238,1) 100%); z-index: 10;}
.sec2_slider_wrap:after {content: ''; position: absolute; top: 0; right: -10%; width: 30%; height: 100%; background: linear-gradient(to right, rgba(237,237,238,0) 0%,rgba(237,237,238,1) 100%); z-index: 10;}
.sec2_slider li {margin-left: 40px; width:810px;}
.sec2_slider li a {position: relative; display:block; width:100%; height: 0; padding-bottom: 70.37%;}
.sec2_slider li a:before {content:''; position: absolute; top:0; left:0; width:100%; height: 100%; background: rgba(0,0,0,.4); transition:.3s ease-in-out; opacity:0; visibility:hidden;}
.sec2_slider li span {position: absolute; top:50%; left:0; transform:translateY(-50%); width:100%; display:block; text-align: center; z-index:10; font-size:30px; color:#fff; line-height: 1;
transition:.3s ease-in-out; opacity:0; visibility:hidden;}
.sec2_slider li:hover a:before {opacity:1; visibility:visible;}
.sec2_slider li:hover span {opacity:1; visibility:visible;}

.sec2_slider_wrap button {position: absolute; top:50%; transform:translateY(-50%); width:66px; height: 66px; outline:0; cursor:pointer; text-indent:-9999px; z-index:1500;}
.sec2_slider_wrap button.slick-prev {left:20%; background: url('../images/main/prev_btn.png') top center no-repeat;}
.sec2_slider_wrap button.slick-next {right:20%; background: url('../images/main/next_btn.png') top center no-repeat;}
.slide_top {position: absolute; top:-70px; right: 50px; font-size:0;}
.slide_top a {position: relative; display:inline-block; font-size:20px; color:#333; padding: 0 20px 10px 0; margin-right: 30px; vertical-align: 0; font-weight: 700; line-height: 1; transition:.3s ease-in-out;}
.slide_top a:before {content:''; position: absolute; bottom: 0; left: 0; width:100%; height: 2px; background: #333; transition:.3s ease-in-out;}
.slide_top a:after {content:''; position: absolute; bottom: 0; right: 3px; width:2px; height: 15px; background: #333; transform:rotate(-35deg); transition:.3s ease-in-out;}
.slide_top a:hover {color:#83493F;}
.slide_top a:hover:before {background: #83493F;}
.slide_top a:hover:after {background: #83493F;}
.slick-counter {display:inline-block; line-height: 1;}
.slick-counter span {display:inline-block; font-size:27px; color:#333; font-weight: 700;}
.slick-counter span.current {font-size:35px;}
.slick-counter span.counter-bar {width:5px; height: 25px; background: #333; transform:rotate(20deg); margin: 0 10px; vertical-align: -2px;}

.top_btn {position: fixed; bottom: 150px; right: 50px; width:50px; height: 50px; border-radius:5px; z-index:100; background: #333 url('../images/main/top.png') center no-repeat; cursor:pointer;
background-size:25px; opacity:0; transition:.3s ease-in-out; visibility:hidden;}
.top_btn.on {opacity:1; visibility:visible;}

#footer {width:100%; background: url('../images/main/contact.jpg') center no-repeat; background-size:cover; padding: 100px 0 7%; text-align: center;}
#footer .sec_tit {color:#fff;}
#footer .sec_tit:before {background: #777;}
#footer p {font-size:20px; color:#fff; font-weight: 300;}
.foot_list {margin-top: 80px;}
.foot_list li {font-size:0; margin-bottom: 20px;}
.foot_list li:last-child {margin-bottom: 0;}
.foot_list li a {display:inline-block; font-size:17px; color:#fff; font-weight: 300; margin: 0 10px;}

/*=== list ===*/
#header.list_header {position:absolute; box-shadow: 3px 3px 7px rgba(0,0,0,.15);}
#header.list_header h1 a {color:#333;}
#sub_contents {background: #ededee; margin-top: 80px; min-height:1000px; padding: 100px 0 80px;}
.tit_bg {text-align: center;}
.list_top {width:100%; text-align: center; font-size:0; margin-bottom: 100px;}
.list_top button {display:inline-block; font-size:30px; color:#333; line-height: 1; font-weight: 500; outline:0; cursor:pointer; margin: 0 10px; transition: .3s ease-in-out;}
.list_top button.active, .list_top button:hover {color:#265aa8;}

.list_btm li {width:calc(50% - 40px); margin: 20px;}
.list_btm li a {position: relative; display:block; width:100%; height: 0; padding-bottom: 50%; box-shadow:0 0 15px rgba(0,0,0,.3);}
.list_btm li a:before {content:''; position: absolute; top:0; left:0; width:100%; height: 100%; background: rgba(0,0,0,.5); opacity:0; visibility:hidden; transition:.3s ease-in-out; z-index:10;}
.list_btm li a span {position: absolute; top:50%; left:0; transform:translateY(-50%); width:100%; text-align: center; opacity:0; visibility:hidden; font-size:1.8vw; color:#fff; line-height: 1; font-weight:400;
transition:.3s ease-in-out; z-index:11;}
.list_btm li em {position: relative; display:block; font-size:20px; color:#333; line-height: 1; font-weight: 400; padding-left: 30px; margin-top: 20px;}
.list_btm li em:before {content:''; position: absolute; top:50%; left:10px; transform:translateY(-50%); width:5px; height: 5px; background: #333; border-radius:50%;}
.list_btm li em span {display:none;}

.list_btm li a:hover:before {opacity:1; visibility:visible;}
.list_btm li a:hover span {opacity:1; visibility:visible;}